@import 'reset.less';

// =============== COLORS
@colorWhite: #FFFFFF;
@colorTheme: #F6546A;


// ================= CONSTANTS
@headerHeight: 4rem;
@mainHeight: ~'calc(100vh - @{headerHeight})';

// ============== GENERAL

#main {
  margin-top: @headerHeight;
  min-height: @mainHeight;
}


// ============== LOGIN

#login {
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

  * {
    margin: 1rem;
  }

  input {
    display: block;
    border-bottom: solid 2px fade(@colorTheme, 50%);
    font-size: 2rem;
    color: @colorTheme;

    &:focus {
      border-bottom: solid 3px @colorTheme;
    }
  }

  button {
    font-size: 1.5rem;
    font-weight: bold;
    padding: .5rem;
    color: @colorTheme;
    background-color: @colorWhite;
    border-radius: .5rem;
    border: 3px solid @colorTheme;

    &:hover {
      // cursor: pointer;
      color: @colorWhite;
      background-color: @colorTheme;
    }
  }

  #message {
    color: @colorTheme;

    &:after {
      content: '\00a0';
    }
  }
}


// ============== HEADER

#header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: @headerHeight;
  display: flex;
  flex-flow: row;
  align-items: center;
  color: @colorWhite;
  background-color: @colorTheme;

  .navButton {
    font-size: 1.5rem;
    font-weight: bold;
    flex: 0 0 auto;
    margin: 0 .5rem;
  }

  #wordInput {
    flex: 1 1 100%;
    margin: 5px 1rem;

    input {
      width: 100%;
      font-size: 1rem;
      padding: .5rem 1rem;
    }
  }

  #sessionWidget {
    flex: 0 0 auto;
    display: flex;
    flex-flow: row;
    align-items: center;

    #username {
      font-size: 1rem;
      font-weight: bold;
      font-style: italic;
    }

    #logout {
      font-size: 1rem;
      font-weight: bold;
      margin: 0 1rem;
    }
  }
}


// ================ HOME

#home {
  height: @mainHeight;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 1rem;

  #homeWord, #homeDefinitions {
    font-size: 2rem;
    display: flex;
    align-items: center;
  }

  #homeWord {
    height: 50%;
    color: @colorTheme;
    font-weight: bold;
  }

  #homeDefinitions {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    margin: 0 2.5rem 1rem;

    .homeDefinition {
      display: flex;
      flex-flow: row;
      align-items: baseline;
      margin: 1rem 0;

      .hDIndex {
        font-weight: bold;
        color: @colorTheme;
        margin-right: 1rem;
      }
    }
  }
}
